@import './variables.scss';
@keyframes myShine {
    0%   {
        height: 78px;
        width: 30px;
        position: absolute;
        background: linear-gradient(122.96deg, #FFFFFF -8.51%, rgba(255, 255, 255, 0) 94.74%), rgb(151, 151, 151);    
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.65);  
        transform: skew(-20deg);
        position: absolute;
        z-index: 1;
        left: 28px;
        margin-top: 2px;
    };
    100% {
        height: 78px;
        width: 30px;
        position: absolute;
        background: linear-gradient(122.96deg, #FFFFFF -8.51%, rgba(255, 255, 255, 0) 94.74%), rgb(143, 143, 143);    
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.65);  
        transform: skew(-20deg);
        position: absolute;
        z-index: 1;
        left: 300px;
        margin-top: 2px;
    };
};
.hideme{
    display: none;
}
.eventPage {
    @include bg;
    width: 100vw;
    height: auto;
    &__header { 
        position: fixed;
        z-index: 999;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding-top: 24px;
        width: 100%;
        height: 275px;
        left: 0px;
        top: -48px;
        background:linear-gradient(140.83deg, rgb(104, 207, 255) 10.17%,
        rgba(255, 255, 255, 0) 101.01%), #b1b1fc;
        mix-blend-mode: normal;
        border: 1px solid rgba(144, 144, 144, 0.3);
        box-sizing: border-box;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.75);
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border: none;
        &__nav{
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            margin: 0;
            &__active {
                text-align: center;
                width: 30%;
                height: 75px;
                position: relative;
                top: 12px;
                box-sizing: border-box;
                color: #416bf7;
                font-weight: 700;
                transform: skewX(-10deg) rotate(-3deg);
                // border-bottom: solid 5px #fafafa;
                box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.45);
            }
            &__disabled {
                text-align: center;
                width: 25%;
                box-sizing: border-box;
                color: #32204bde;
                font-weight: 700;
            }
        }
        &__seperator {
            position: absolute;
            width: 323px;
            height: 0px;
            left: 26px;
            top: 112px;
            border: 2px solid #a5a5a5;
        }
        &__img {
            width: 40px;
            height: 45px;
            transform: rotate(180deg);
            padding: 23px 16px;
        }
        &__name {
            width: 60%;
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: normal;
            margin: 0;
            color: #4C4C4C;
            position: absolute;
            left: 16px;
            top: 128px;
        }
        &__icon {
            position: absolute;
            width: 41px;
            height: 41px;
            left: 275px;
            top: 125px;
        }
        &__attend {
            position: absolute;
            width: 47px;
            height: 31px;
            left: 325px;
            top: 106px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: normal;
            color: #3B3B3B;
        }
    }
    &__details {
        width: 100%;
        height: auto;
        display:flex;
        flex-flow: column;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-top: 250px;
        &__pad {
            box-sizing: border-box;
            padding: 16px;
        }
        &__label {
            // margin: 16px 0 16px 0;
            margin:0;
            margin-top: 24px;
            width: 75%;
            font-family: Roboto;
            font-style: normal;
            font-weight: 200;
            font-size: 24px;
            line-height: normal;
            color: #FFFFFF;
        }
        &__info {
            width: 75%;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: normal;
            color: #Fafafa;
            margin: 0px;
            margin-bottom: 0;
        }
    }
    &__attending {
        width: 100%;
        height: auto;
        display:flex;
        flex-flow: column;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-top: 250px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 50px;
    }
    &__join {
        z-index: 10000;
        position: fixed;
        left: 37px;
        bottom: 32px;
        height: 60px;
        width: 300px;
        border: none;
        border-radius: 10px;
        background: linear-gradient(70.25deg, rgb(74, 255, 225) 0.98%, 
        rgba(255, 255, 255, 0) 100%), rgb(107, 247, 118);
    box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    &__results {
        width: 100%;
        display:flex;
        flex-flow: column;
        justify-content: flex-start;
        box-sizing: border-box;
        padding-right: 24px;
        padding-bottom: 50px;
        &__btn {
            background: linear-gradient(70.25deg, rgb(74, 255, 225) 0.98%, 
            rgba(255, 255, 255, 0) 100%), rgb(107, 247, 118);
                position: absolute;
            top: 230px;
            width: 175px;
            height: 50px;
            border-radius: 28px;
            border: none;
            box-sizing: border-box;
            margin-left: 99px;
            margin-top: 15px;
            p {
                font-size:16px;
                color: #303030;
                font-weight: 600;
            }
        }
        &--first {
            height: 60px;
            width: 60px;
            background: linear-gradient(239.25deg, #FDF0AA 0.98%, 
            rgba(255, 255, 255, 0) 100%), #FFB74B;
            border: none;
            border-radius: 5px;
            box-sizing: border-box;
            padding: 8px;
            margin-bottom: 50px;
            transform: skewX(-15deg);
            display: flex;
            // align-items: center;
            &__icon {
                height: 24px;
                width: 24px;
            }
            p {
                margin: 0;
            }
        }
        &--second {
            height: 60px;
            width: 60px;
            background: linear-gradient(238.39deg, #FFFFFF 0%, 
            rgba(255, 255, 255, 0) 113.99%), #8B8B8B;
            border: none;
            border-radius: 5px;
            box-sizing: border-box;
            padding: 8px;
            margin-bottom: 50px;
            transform: skewX(-15deg);
            display: flex;
            &__icon {
                height: 24px;
                width: 24px;
            }
            p {
                margin: 0;
            }
        }
        &--third {
            height: 60px;
            width: 60px;
            background: linear-gradient(238.39deg, rgb(253, 214, 170) 0%, 
                        rgba(255, 255, 255, 0) 113.99%), #6C3400;
            border: none;
            border-radius: 5px;
            box-sizing: border-box;
            padding: 8px;
            margin-bottom: 50px;
            transform: skewX(-15deg);
            display: flex;
            &__icon {
                height: 24px;
                width: 24px;
            }
            p {
                margin: 0;
            }
        }
        &--last {
            height: 60px;
            width: 60px;
            background:linear-gradient(140.83deg, rgb(104, 207, 255) 10.17%,
                        rgba(255, 255, 255, 0) 101.01%), #b1b1fc;
            border: none;
            border-radius: 5px;
            box-sizing: border-box;
            padding: 8px;
            margin-bottom: 50px;
            transform: skewX(-15deg);
            display: flex;
            &__icon {
                height: 24px;
                width: 24px;
            }
            p {
                margin: 0;
            }
        }
    }
}
.medalsflex {
    position: absolute;
    right: 28px;
    bottom: -109px;
}

.topnav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 8px
}
.topnav a {
    width: 10%;
}

.topnav h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: normal;
    text-align: center;
    box-sizing: border-box;
    padding-right: 22px;
    color: #323232;
}
.bgGold {
    background: linear-gradient(239.25deg, #FDF0AA 0.98%, 
    rgba(255, 255, 255, 0) 100%), #FFB74B;
    box-sizing: border-box;
    padding: 4px 16px 8px 16px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 326px;
    height: 78px;
    margin: 16px 0 16px 0;
}
.bgSilver {
    background: linear-gradient(238.39deg, #FFFFFF 0%, 
    rgba(255, 255, 255, 0) 113.99%), #8B8B8B;
    box-sizing: border-box;
    padding: 4px 16px 8px 16px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 326px;
    height: 78px;
    margin: 16px 0 16px 0;
}
.bgBronze {
    background: linear-gradient(238.39deg, rgb(253, 214, 170) 0%, 
    rgba(255, 255, 255, 0) 113.99%), #6C3400;
    box-sizing: border-box;
    padding: 4px 16px 8px 16px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 326px;
    height: 78px;
    margin: 16px 0 16px 0;
}
.bgDefault {
    background:linear-gradient(140.83deg, rgb(104, 207, 255) 10.17%,
    rgba(255, 255, 255, 0) 101.01%), #b1b1fc;
    box-sizing: border-box;
    padding: 4px 16px 8px 16px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 326px;
    height: 78px;
    margin: 16px 0 16px 0;
}
.usercard--overlay {
    height: 72px;
    width: 310px;
    padding-top: 8px;
    position: absolute;
    left: 28px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.65);  
    transform: skew(-15deg) rotate(-3deg);
}

.usercard--shine{
    animation: myShine 0.40s ease-in;
}

#x:nth-child(1) .usercard--shine {
    animation-delay: 0.05s;
}
#x:nth-child(2) .usercard--shine {
    animation-delay: 0.1s;
}
#x:nth-child(3) .usercard--shine {
    animation-delay: 0.15s;
}
#x:nth-child(4) .usercard--shine {
    animation-delay: 0.2s;
}


.userCard{
    box-sizing: border-box;
    padding: 4px 16px 8px 16px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 326px;
    height: 78px;
    margin: 16px 0 16px 0;
    &__pp {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        width: 50px;
        height: 50px;
        z-index: 998;
    }
    &__div {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        z-index: 2;
        &__addIcon {
            height: 30px;
            width: 30px;
            position: absolute;
            left: 303px;
            z-index: 998;
            padding-bottom: 38px;
        }
        &__res {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            &__gold {
                background: linear-gradient(238.39deg, #FDF0AA 0%, 
                    rgba(255, 255, 255, 0) 113.99%), #FFB74B;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.71);
                border-radius: 3px;
                width: 60px;
                height: 28px;
                display: flex;
                align-items: center;
                &__p {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: normal;
                    text-align: center;
                    color: #323232;
                }
            }
            &__silver {
                background: linear-gradient(238.39deg, #FFFFFF 0%, 
                    rgba(255, 255, 255, 0) 113.99%), #8B8B8B;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.71);
                border-radius: 3px;
                width: 60px;
                height: 28px;
                display: flex;
                align-items: center;
                &__p {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: normal;
                    text-align: center;
                    color: #323232;
                }
            }
            &__bronze {
                background: linear-gradient(238.39deg, #FDF0AA 0%, 
                    rgba(255, 255, 255, 0) 113.99%), #6C3400;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.71);
                border-radius: 3px;
                width: 60px;
                height: 28px;
                display: flex;
                align-items: center;
                &__p {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 20px;
                    line-height: normal;
                    text-align: center;
                    color: #323232;
                }
            }
        }
    }
}

.userCard__div h5{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: normal;
    margin:0;
    color: #323232;
    padding-left: 16px;
}

.medalIIcon {
    width: 18px;
    height: 16px;
    box-sizing: border-box;
    margin: 4px;
}

.userCard__div__addIcon {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 303px;
    z-index: 998;
    padding-bottom: 38px;
}
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
//----------------------------------------------------------------
.lap {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 300px;
    background: linear-gradient(140.83deg, rgb(104, 207, 255) 10.17%,
    rgba(255, 255, 255, 0) 101.01%), #b1b1fc;
    z-index: 999999;
    opacity: unset;
}
.lap__bg {
    z-index: 999998;
    position: absolute;
    background: #323232;
    opacity: 0.95;
    height: 100vh;
    width:100vw;
}

.lapCont {
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    &__labs {
        display: flex;
        width: 230px;
        justify-content: space-around;
    }
    &__flex{
        display: flex;
        flex-flow: row;
        width: 200px;
    }
    &__label {
        padding: 32px 0 32px 0;
        padding-bottom: unset;
    }
    &__input {
        width: 50px;
        height: 37px;
        border: none;
        border-radius: 7px;
        background: #323232;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 3px;
        padding-left: 16px;
        margin: 0px 8px 32px 0;
        margin-bottom: unset;
    }
    &__btn {
        width: 200px;
        height: 39px;
        border: none;
        border-radius: 7px;
        background: #323232;
        margin: 32px 0 32px 12px;
    }
    &__btn p{
        color: #fafafa;
    }
}

.bgGoldres {
    background: linear-gradient(140.83deg, rgb(104, 207, 255) 10.17%,
    rgba(255, 255, 255, 0) 101.01%), #b1b1fc;
    // background: linear-gradient(239.25deg, #FDF0AA 0.98%, 
    // rgba(255, 255, 255, 0) 100%), #FFB74B;
    box-sizing: border-box;
    padding: 4px 16px 8px 16px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    // border-top-right-radius: 35px;
    // border-bottom-right-radius: 35px;
    transform: skewX(10deg);
    width: 220px;
    height: 78px;
    margin: 16px 16px;
    &__div {
        display: flex;
        flex-flow:column;
        height: 62px;
        padding-left: 16px;
        padding-bottom: 12px;
    }
    &__pp{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        width: 60px;
        height: 60px;
        z-index: 998;
    }
}
.bgGoldres p{
    font-weight: 500;
    color: #323232;
    margin: unset;
}
.bgGoldres__div h5{
    font-weight: 300;
    color: #323232;
    position: relative;
    padding-top: 16px;
    margin: unset;
    font-size:16px;
}

//-------------------------------------confirm pop-up
.confirm {
    position: fixed;
    bottom: 92px;
    margin-left: 33px;
    /* border-radius: 10px; */
    /* transform: skewX(10deg); */
    display: flex;
    justify-content: center;
    align-content: center;
    left: 16px;
    height: 50px;
    width: 271px;
    background: linear-gradient(140.83deg, rgb(104, 207, 255) 10.17%,
    rgba(255, 255, 255, 0) 101.01%), #b1b1fc;
    z-index: 99999;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.confirm p {
    color:#323232;
    font-size: 18px;
    margin:0;
    height: 20px;
    margin-top: 12px;
}