@import './variables.scss';

.eCard {
    box-sizing: border-box;
    background:linear-gradient(140.83deg, rgb(104, 207, 255) 10.17%,
    rgba(255, 255, 255, 0) 101.01%), #b1b1fc;
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 278px;
    height: 102px;
    margin: 16px;
    // background: #323232;
    box-shadow: 0px 4px 10px #000000;
    border-radius: 15px;
    &__attending {
        box-sizing: border-box;
        display: flex;
        flex-flow: row;
        padding-left: 16px;       
    }
    &__attending img{
        height: 32px;
        width: 32px;
    }
    &--overlay{
        height: 96px;
        width: 280px;
        padding-top: 8px;
        position: absolute;
        left: 28px;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.65);
        -webkit-transform: skew(-15deg) rotate(-3deg);
        transform: skew(15deg) rotate(3deg);
    }
}
//LINK wrapping the whole card prevents this just like nth child

// .eCard:hover {
//     box-sizing: border-box;
//     background:linear-gradient(140.83deg, rgb(74, 164, 206) 10.17%,
//     rgba(255, 255, 255, 0) 101.01%), #9292ff;
//     display:flex;
//     flex-flow: column;
//     justify-content: flex-start;
//     width: 288px;
//     height: 112px;
//     margin: 16px;
//     // background: #323232;
//     box-shadow: 0px 4px 10px #000000;
//     border-radius: 15px;
// }

.eCard h3 {
    font-size: 16px;
    font-weight: 500;
    color: #323232;
    padding-left: 16px;
    margin: 0;
    margin-top: 8px;
}
.eCard p {
    font-weight: 300;
    font-size: 14px;
    padding-left: 16px;
    margin:0;
    color: rgb(86, 86, 86);
}
.eCard__attending p {
    color: #323232;
    font-size: 16px;
    font-weight: 500;
    padding-left: 0;
    padding-top: 4px;
    margin-left: 8px;
}
