@import "./variables.scss";

.proGold {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 301px;
    left: 0px;
    top: -20px;
    background: linear-gradient(136.62deg, #FDF0AA -7.98%, rgba(255, 255, 255, 0) 72.96%), #FFB74B;
    mix-blend-mode: normal;
    border: 1px solid rgba(144, 144, 144, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.86);
    border-radius: 25px;
    border: none;
}

.proSilver {
    background: linear-gradient(123.99deg, #FFFFFF -8.51%, rgba(255, 255, 255, 0) 94.74%), #8B8B8B;    
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 301px;
    left: 0px;
    top: -20px;
    mix-blend-mode: normal;
    border: 1px solid rgba(144, 144, 144, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.86);
    border-radius: 25px;
    border: none;
}

.proBronze {
    background: linear-gradient(203.7deg, rgb(255, 193, 111) 0%, rgba(255, 255, 255, 0) 102.93%), rgb(112, 63, 23);
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 301px;
    left: 0px;
    top: -20px;
    mix-blend-mode: normal;
    border: 1px solid rgba(144, 144, 144, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.86);
    border-radius: 25px;
    border: none;
}
.proDefault {
    background:linear-gradient(140.83deg, rgb(104, 207, 255) 10.17%,
    rgba(255, 255, 255, 0) 101.01%), #b1b1fc;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 301px;
    left: 0px;
    top: -20px;
    mix-blend-mode: normal;
    border: 1px solid rgba(144, 144, 144, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.86);
    border-radius: 25px;
    border: none;
}


.profile {
    @include bg;
    height: 100%;
    &__hero {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 301px;
        left: 0px;
        top: -20px;
        mix-blend-mode: normal;
        border: 1px solid rgba(144, 144, 144, 0.3);
        box-sizing: border-box;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.86);
        border-radius: 25px;
        border: none;
        &__medal{
            position: absolute;
            left: 152px;
            top: 16px;
            height: 286px;
            width: 286px;
        }
        &__pp{
            position: absolute;
            width: 90px;
            height: 90px;
            left: 18px;
            top: 140px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50px;
        } 
        &__h1 {
        color: #313131;
        box-sizing: border-box;
        position: relative;
        top: 226px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: normal;
        padding-right: 16px;
        padding-left: 16px;
        }
    }
   
    &__nav {
        height: 80px;
        width: 100vw;
        &--overlay{
            z-index: 9999;
            width: 95vw;
            height: 219px;
            position: fixed;
            right: 15px;
            bottom: 380px;
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.35);
            transform: skewX(-15deg) rotate(-5deg);
        }
        &__icon {
            z-index: 10000;
            position: fixed;
            width: 42px;
            height: 42px;
            left: 320px;
            top: 8px;
        }
        &__logo {
            position: absolute;
            width: 150px;
            height: 150px;
            top: -10px;
            left:-20px;
        }
    }
    &__upcoming{
        // width: 100%;
        margin-top: 268px;
        // display: flex;
        // overflow-x: auto;
        color: rgba(83, 83, 83, 0.473)
    }
}