@import './variables.scss';

.results{
    position: relative;
    bottom: -72px;
    left:275px;
    padding: 16px;
    box-sizing: border-box;
    height: 170px;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    justify-content: flex-start;
    width: 100%;
    // padding-left: 250px;
}

.container {
    &__gold {
    @include bg-gold;
    width: 65px;
    height: 36px;
    border-radius: 6px;
    border: solid 1px #7c7c7c;
    margin-bottom: 4px;
    }
    &__silver {
        @include bg-silver;
        width: 65px;
        height: 34px;
        border-radius: 6px;
        border: solid 1px #7c7c7c;
        margin-bottom: 4px;
        }
        &__bronze {
            @include bg-bronze;
            width: 65px;
            height: 34px;
            border-radius: 6px;
            border: solid 1px #7c7c7c;
            margin-bottom: 4px;
            }
}

.results p {
    position: relative;
    padding: 10px 0 10px 29px;
    margin:0;
    box-sizing: border-box;
    width: 75%;
    bottom: 23px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    color: #323232;
}

.medalicon{
    position: relative;
    top:7px;
    left:8px;
    width: 15px;
    width: 15px;
}