@import './variables.scss';
.up h2{
    position: absolute;
    width: 177px;
    height: 22px;
    left: 18px;
    top: 306px;
}
.up{
    // @include bg;
    min-width:375px;
    &__icon{
        position: absolute;
        width: 44px;
        height: 39px;
        left: 322px;
        top: 310px;
        fill: white;
    }
    &__eventsList{
        min-width:375px;
        height: auto;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: flex-start;
    }
}